{% load static %}
<html>
<head><title>Welcome to my website!</title>
<link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}" />
</head>
<body>

<ul>
  <li><a href="http://a5810067.blogspot.com/">My Blog</a></li>
  <li><a href="https://github.com/a5810067">Git Hub</a></li>
  <li><a href="https://www.facebook.com/gar.mess.31">Contact Me</a></li>
</ul>

<div class="absolute">
<h1>App lists</h1>
<a class="app_list" href='/polls'><p>Polls</a><br>
<a class="app_list" href='/ledger'><p>Ledger</a>
</div>
</body>
</html>